{
  "name": "Cluster Express Overloaded",
  "logLevel": "FATAL",
  "mail" : {
    "personal" : {
      "service": "gmail",
      "auth": {
          "user": "yourpersonalemail@gmail.com",
          "pass": "your password here"
      }
    }
  }
}
