{
  "name": "Cluster Express Overloaded",
  "logLevel": "FATAL",
  "secret": "some-insane-string",
  "fileCache": {
    "tmpDir": "./cache",
    "ttl": "259200"
  },
  "redisCache": {
    "host": "127.0.0.1",
    "port": "6379",
    "database": 2,
    "password": "cute-password",
    "ttl": "259200"
  },
  "redisSession": {
    "host": "127.0.0.1",
    "port": "6379",
    "ttl": 15768000,
    "db": 1,
    "pass": "cute-password",
    "prefix": "session_"
  },
  "mail" : {
    "default-transporter": "personal",
    "transporters": {
      "personal" : {
        "service": "gmail",
        "auth": {
            "user": "yourpersonalemail@gmail.com",
            "pass": "your password here"
        }
      }
    }
  }
}
